.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    background-image: url("https://i.postimg.cc/pLL7n6Zb/bg3.jpg");
    background-size: cover;
    background-color: white;
    margin: 0px;
}

h1{
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    width: 400px;
    text-align: center;
    box-shadow: 4px 4px 4px green;
    margin-top: 10px;
}

img{
    width: 400px;
    height: 400px;
    margin: 10px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.3);
}